@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    min-height: 100%;
}

html,
body {
    min-height: 100%;
}

body {
    background: linear-gradient(30deg, rgba(14, 14, 14, 0.836), rgba(14, 14, 14, 0.836)), url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.wallpapersden.com%2Fimage%2Fdownload%2Fsquid-game-hd-netflix_bG5raWyUmZqaraWkpJRmbmdlrWZlbWU.jpg&f=1&nofb=1");
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    text-align: center;
}

.envolope {
    height: 65px;
    width: 100px;
    position: relative;
}

.bg {
    background-color: rgba(22, 22, 22, 0.671);
}

.align {
    text-align: center;
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    from {
        transform: translate(0, 0px);
    }
    65% {
        transform: translate(0, 500px);
    }
    to {
        transform: translate(0, -0px);
    }
}

div#main {
    text-align: center;
}

.gallery {
    display: inline-block;
    height: 100%;
}

.gallery img {
    display: inline-block;
    max-height: 10%;
    bottom: 0;
    position: absolute;
    margin-left: -55px;
}

.gallery img:target {
    position: relative;
    top: 0;
    max-height: 90%;
}

.playbutton {
    width: 180px;
    height: 60px;
    border-color: transparent;
    border-radius: 17px;
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    letter-spacing: 3px;
}

.playbutton:hover {
    transition-delay: 55ms;
    -o-transition-duration: 55ms;
    letter-spacing: 15px;
    width: 210px;
}

.range {
    margin: 15px;
    width: 300px;
}